service_account_key_file = "key.json"
cloud_id = "123456789qwerty"
folder_id = "123456789qwerty"
docker_image_id = "123456789qwerty"
subnet_id = "123456789qwerty"
public_key_path = "~/.ssh/zagretdinov.pub"
private_key_path = "~/.ssh/zagretdinov"


service_account_key_file = "/key.json"
cloud_id = "b1g58k1vu1miqnuhagil"
folder_id = "q1r42848vrgibettrf35"
zone = "ru-central1-a"
image_id = "l18gjtpq1fd8thrtree"
subnet_id = "e9bf8hfvgsdft30j1n3"
public_key_path = "~/.ssh/.pub"
private_key_path = "/home/damir/.ssh/privat"
region_id = "ru-central1"
